.carousel {
    height: 740px;
    width: 950px;
    margin: 0 auto;
    // padding: 80px 0;
    position: relative;
    &_button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &__prev {
            left: 20px;
        }
        &__next {
            right: 20px;
        }
        img {
            width: 100%;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
    &_slide {
        position: absolute;
        margin: 80px 110px;
        max-height: 580px;
        inset: 0;
        opacity: 0;
        list-style: none;
        img {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &_slide[data-active] {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .carousel {
        width: 760px;
        height: 540px;
    }
}

@media (max-width: 768px) {
    .carousel {
        height: 460px;
        width: 100%;
        &_button {
            &__prev {
                left: 30px;
            }
            &__next {
                right: 30px;
            }
        }
    }
}

@media (max-width: 576px) {
    .carousel {
        height: 360px;
        width: 100%;
        &_slide {
            margin: 60px;
        }
        &_button {
            width: 35px;
            &__prev {
                left: 10px;
            }
            &__next {
                right: 10px;
            }
        }
    }
}

@media (max-width: 400px) {
    .carousel {
        width: 100%;
        &_slide {
            margin: 40px;
        }
        &_button {
            width: 25px;
            &__prev {
                left: 10px;
            }
            &__next {
                right: 10px;
            }
        }
        &_slide {
            margin: 0px 75px;
        }
    }
}