.footer {
    position: relative;
    &-map {
        min-height: 630px;
        background: url(../../img/map.jpg) center (center/cover) no-repeat;
        position: relative;
    }
    
    &-contacts {
        position: absolute;
        width: 470px;
        height: 270px;
        background: $main-color;
        right: 50%;
        transform: translateX(50%);
        z-index: 2;
        &__adres {
            margin-top: 50px;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
        &__tel {
            display: block;
            margin-top: 36px;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            &:hover {
                color: #FFFFFF;    
            }
        }
        &__networks {
            margin: 0 auto;
            display: flex;
            width: 220px;
            justify-content: space-between;
            margin-top: 36px;
            div {
                width: 52px;
                height: 52px;
                border: 2px solid #FFFFFF;
                border-radius: 50%;
            }
        }
        &__network {
            display: block;
            margin: 0 auto;
            transform: translateY(50%);
            width: 25px;
            height: 25px;
    
        }
    }
}



