.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        text-align: center;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        span {
            font-size: 18px;
            line-height: 29px;
            display: block;
        }
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    .header {
        &__logo {
            width: 30%;
            margin-right: 10px;
        }
        &__official {
            width: 33%;
            font-size: 15px;
            line-height: 20px;
        }
        &__contacts {
            width: 33%;
            font-size: 17px;
            line-height: 17px;
        }
    }   
}

@media (max-width: 576px) {
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            font-size: 11px;
            line-height: 11px;
            span {
                font-size: 13px;
                line-height: 15px;
            }
        }
        &__phone {
            font-size: 12px;
            line-height: 10px;
        }
    } 
}

@media (max-width: 400px) {
    .header {
        &__logo {
            width: 140px;
        }
        &__official {
            display: none;
        }
        &__phone {
            width: 105px;
            font-size: 12px;
            line-height: 10px;
        }
    } 
}